<center>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
		<label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
			<i class="material-icons">search</i>
		</label>
		<div class="mdl-textfield__expandable-holder">
			<input ng-model="search" placeholder="Busca" class="mdl-textfield__input" id="waterfall-exp" />
		</div>
	</div>
</center>
<div ng-if="search.length > 2">
	<div ng-switch="(membros | filter:search).length">
		<div ng-switch-when="0">
			<center>Não há resultados para este filtro.</center>
		</div>
		<div ng-switch-default class="mdl-card mdl-shadow--6dp membro-card" ng-repeat="membro in membros | filter:search">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--1-col-phone mdl-badge" data-badge="{{membro.idade}}">
					<img ng-src="http://church.elshaddaimaceio.org.br/church11/file/img/{{membro.FotoMembro}}" width="100%" height="100%" alt="Foto de {{membro.NomeMembro}}">
				</div>
				<div class="mdl-cell mdl-cell--3-col-phone">
					<div class="mdl-card__title">
						<strong>{{membro.NomeMembro}}</strong>
					</div>
					<div>
						<p class="card-text"><i class="material-icons">event</i> {{membro.DataNascMembro | date}}</p>
						<p ng-if="membro.eMailMembro" class="card-text">
							<a href="mailto:{{membro.eMailMembro}}"><i class="material-icons">email</i> {{membro.eMailMembro}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
